body {
  background-image: url("http://hdqwalls.com/wallpapers/justice-league-dark-background-ad.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
}  
.header{
  
}
.BordaJL{
  background: black;
  text-align: center;
	width: 100%;
	position:fixed;
	margin: -10px;
    
}
#JL {
  background-color: black;
  
}
#JL img{
	height: 40px;
}


#Banner {
text-align:center;  
}

.Navbar{
  margin-top: -19px;
}
.Navbar ul {
  text-align: center;
  background-color: #f3f3f3;
}

.Navbar li {
  color: black;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px;
}

.Navbar li a {
	color: black;
	text-decoration: none;
	padding: 10px 35px;
}

.Navbar li a:hover{
	background: #b7b7b7;
}

.Navbar li a.ativo{
	background: gray;
}


.main{
  text-align: center;
}

.Corpo{
  margin: 10px auto;
  background-color: rgba(12, 123, 178,0.1);
  border: 1px none rgb(12, 123, 178);
  width: 550px;
  text-align: center;
  z-index: 9;
}


.Icon a {
	padding: 5px 7px;
    background-color: white;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	border-radius: 15px;
}

.Icon a:hover {
background-color: rgba(12, 123, 178,0.5);
}

.Icon a :active{
	opacity: 0.5;
}

h2{
    color: #FFF;
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

p{
  color: white;
font-family: 'Bitter', serif;
  font-size: 19px;
  line-height: 35px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

