body{
	background-color: yellow;
}
/* MENU LATERAL  */

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: white;
    box-shadow: 0 5px 0 white, 0 10px 0 white;
}

.menu {
    display: none; 
    width: 0px;
	height: 0px;
    margin: auto;
	padding-top: 35px;
    text-align: center;
    
}


.menu li{
	padding-bottom: 20px;
	width: 160px;
	background-color: white;
	text-transform: uppercase;
	padding: 10px;
	
}
 
.menu li:hover{
	background-color: gray;
}
.menu li a{
	color: black;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	padding:25px;
}
.container-fluid{
	width: 100%;
	position:fixed;
	background: black;
	z-index: 10;
}
.container-fluid  button{
	margin-top: 5px;
	
}
.container-fluid .col-sm-10{
	text-align: center;
	
}
.jumbotron .col-sm-12{
	text-align: center;
	background-color: black;
}
.jumbotron {
	height: 0px;
}
.navbar {
	text-align: center;
}
.navbar li{
  color: black;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300px;
  text-transform: uppercase;
  padding: 10px;
}
.navbar li a {
	color: black;
	text-decoration: none;
	padding: 10px 35px;
}

.navbar li a:hover{
	background: #b7b7b7;
}

.navbar li a.ativo{
	background: gray;
}
.navbar li a:active{
	font-size: 15px;
}
.container{
	padding-top: 20px;
	background-color: black;
	background-image: ul("https://i.redd.it/zz54i0jxpfny.jpg");
	background-size: cover;
	float: left;
	margin-top: -30px;
	color: white;
	font-family: 'Merriweather', serif;
}
.container .col-sm-8 li {
	padding-top: 50px;
	padding: 5px;
	
}
.container .col-sm-3{
	padding-top: 350px;
}

.container li a:hover{
	background: black;
	color: gray;
}

.container li a{
	color: white;
}
.container li a:active{
	font-size: 15px;
}

footer .row{
  font-size: 12px;
  padding-top: 50px;
  background-color: white;
  color: black;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}








